.modal-link {
	cursor: pointer;
	text-decoration-line: none;
}

.navbar-logo {
	background-image: url(/img/logo-small.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 35px;
	width: 35px;
}

.pwd-length-output {
	color: blue;
	font-weight: 600;
	background-color: aliceblue;
}

.toast-message-position {
	bottom: 15% !important;
}

.footer-modal-max-width {
	max-width: 1000px;
}